body {
  background-color: #23272f;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.selection-container {
  margin: 0 auto;
  width: 75%;
  max-width: 650px;
}

.inner-container {
  border: 3px solid #149eca;
  background-color: #23272f;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 1rem;
}

.block {
  background-color: #191c22;
  color: white;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  border-radius: 8px;
}

.block:hover {
  outline: 1px solid white;
  background-color: rgba(255, 255, 255, 0.3);
}

.block--selected,
.block--selected:hover {
  background-color: #149eca;
}

.block__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
